.filterGroup {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.label {
    font-size: 14px;
    color: var(--text-description);
    font-weight: 400;
}

.button {
    display: flex;
    flex-direction: row;
    gap: 8px;
    flex-wrap: wrap;
}
