.filterForm {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 24px;
    max-width: 392px;
}

.closeWrap {
    display: flex;
    justify-content: flex-end;
}

.closeBtn {
    width: 20px;
    height: 20px;
}

@media (max-width: 600px) {
    .filterForm {
        max-width: none;
    }
}
