.filterForm {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 24px;
    padding: 24px;
    max-width: 392px;
    box-shadow: 0 4px 10px 0 rgba(106, 99, 118, 0.1);
    background-color: var(--color-white);
    border-radius: var(--radius-xl);
}

.closeWrap {
    display: flex;
    justify-content: flex-end;
}

.closeBtn {
    width: 20px;
    height: 20px;
}

@media (max-width: 600px) {
    .filterForm {
        max-width: none;
    }
}
