.columnList,
.rowList {
    display: flex;
    gap: 12px;
    width: 100%;
}

.columnList {
    flex-direction: column;
}

.rowList {
    flex-direction: row;
    flex-wrap: wrap;
}
// ---  БЛОК ВОПРОСОВ   ---
.questionListSkeleton {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 24px 20px 40px;
    box-shadow: 0 4px 10px 0 rgba(106, 99, 118, 0.1);
    background-color: white;
    border-radius: 20px;
    flex: 1;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 17px;
    border-bottom: 0.8px solid rgba(28, 28, 28, 0.05);
}

.headerTitle {
    width: 50%;
    height: 28px;
    border-radius: 6px;
}

.headerButton {
    width: 36px;
    height: 36px;
    border-radius: 8px;
}

.question {
    width: 100%;
    height: 88px;
    border-radius: 12px;
    box-shadow: 0 4px 10px 0 rgba(106, 99, 118, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;

    &::before {
        content: "";
        width: 70%;
        height: 28px;
        border-radius: 6px;
        background: linear-gradient(
            90deg,
            #e0e0e0 0%,
            #efefef 50%,
            #e0e0e0 100%
        );
        background-size: 400% 400%;
        animation: pulse 1.2s ease-in-out infinite;
    }

    &::after {
        content: "";
        width: 28px;
        height: 28px;
        border-radius: 6px;
        background: linear-gradient(
            90deg,
            #e0e0e0 0%,
            #efefef 50%,
            #e0e0e0 100%
        );
        background-size: 400% 400%;
        animation: pulse 1.2s ease-in-out infinite;
    }
}

.headerTitle,
.headerButton,
.pagination,
.button,
.text {
    background: linear-gradient(90deg, #e0e0e0 0%, #efefef 50%, #e0e0e0 100%);
    background-size: 400% 400%;
    animation: pulse 1.2s ease-in-out infinite;
    list-style: none;
}

.button {
    height: 36px;
    width: 100px;
    border-radius: 8px;
}

// ---  БЛОК ПАГИНАЦИИ   --- ?

@keyframes pulse {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: -135% 0%;
    }
}
