.navDropdown {
    position: absolute;
    top: 100%;
    left: auto;
    z-index: 100;
    padding: 5px;
    background-color: var(--color-white);
    border-radius: var(--radius-s);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

@media (min-width: 1024px) {
    .navDropdown {
        display: none;
    }
}
